{% extends "account/base.html" %}

{% load i18n %}



{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mb-5">
<div class="col-lg-5 mx-auto">
<div class="card p-5 text-dark">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a class="btn btn-outline-dark" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}

  <div class="text-center mt-3">
  <button class="btn btn-outline-dark" type="submit">{% trans "Sign Up" %}</button>
  </div>
</form>
</div>
</div>
</div>
{% endblock %}